.gallery {
    margin-top: 50px;
    margin-bottom: 100px;
}

.items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.itemWrapper {
    text-align: center;
}

.imageContainer {
    position: relative;
    display: inline-block;
    transition: .5s;

    cursor: pointer;
}

.imageContainer img {
    display: block;
    max-width: 250px;
    height: auto;
}
  
.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    box-sizing: border-box;
    font-size: 13px;
    text-align: left;
    opacity: .7;
}

.caption p:last-child {
    display: none;
    transition: opacity 0.3s ease-in-out;
    padding: 10px;
    transition: .5s;
  }
  
.imageContainer:hover {
    transition: .5s;
    transform: scale(1.35);
}

.imageContainer:hover .caption{
    opacity: .9;
}

.imageContainer:hover .caption p:first-child {
    display: block;
    border-bottom: 1px solid white;
    transition: .5s;
}

.imageContainer:hover .caption p:last-child {
    display: block;
    padding: 5px;
}

.imageContainer:hover + .title {
    visibility: hidden;
}

.title {
    text-align: center;
    width: 300px;
    word-wrap: break-word;
}

.turnBack {
    margin-top: 70px;
    text-align: center;
}

.turnBack button {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.turnBack button:hover {
    background-color: #f1f1f1;
}

.itemName {
    font-size: 20px;
    margin-bottom: 50px;
}

.delete {
    margin-top: 50px;
}

.delete button{
    background-color: #d20015;
    color: #fff;
    border: none;
    padding: 6px 12px;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    opacity: .5;
}

.delete button:hover {
    background-color: #c82333;
    transition: .3s;
    opacity: .9;
}


