.smallImages img {
    width: auto;
    height: 50px!important;;
}

.bigImages img {
    display: block;
    min-width: 500px!important;
    height: auto;
    margin-bottom: 50px;
}

.bigImages {
    display: flex!important;
    justify-content: center;
}

.sliderGallery .slick-dots {
    padding-left: 0px!important;
}

.sliderGallery .slick-dots li {
    margin-left: 55px !important;
    transform: scale(1);
    opacity: 0.7;
}

.sliderGallery .slick-dots li:first-child {
    margin-left: 0px !important;
}

.sliderGallery .slick-dots .slick-active {
    transform: scale(1.1);
    transition: .3s;
    opacity: 1;
}