.creator {
    width: 500px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.creatorForm {
    display: flex;
    justify-content: space-between;
}

.text div {
    margin-bottom: 20px;
}

.textEnter div {
    margin-bottom: 20px;
}

.submit {
    text-align: center;
}

.addPerson {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.addPerson:hover {
    background-color: #218838;
}